table {
  background: #fff;
}

td {
  padding: 15px 10px;
  border: solid;
}

header {
  text-align: center;
  height: 40px;
  padding-top: 25px;
  color: black;
  font-size: 25px;
}

body {
  text-align: center;
  color: black;
}

div {
  border: solid;
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
  padding-bottom: 25px;
}

button {
  margin: 10px;
  background: white;
  border: solid;
}